<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="py-12">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 text-center pb-8">Tennis Court</h1>
        <img src="assets/images/Icogram 2024-11-02 23_24.png" alt="" class=" mx-auto my-8">
        <h2 class="text-2xl font-bold text-gray-900 py-4">Infomation</h2>
        <p class="py-2"><span class="font-bold">Open :</span> 15.00 - 21.00</p>
        <p class="py-2"><span class="font-bold">Service fee :</span> 200 Baht / Hour</p>
        <p class="py-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos non aperiam autem obcaecati eaque
            officiis
            ullam, pariatur asperiores iure eum doloremque rem, ipsam dolorum recusandae fugit. Soluta tempora possimus
            commodi.</p>
    </div>

</div>