<footer class="bg-gradient-to-r from-white from-0% via-gray-300 via-50% to-white to-100% py-12 text-gray-700">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 text-center">
        <div class="flex justify-center gap-12 pb-8">
            <a href="">
                <img src="assets/icons/youtube.png" alt="" class="size-8">
            </a>
            <a href="">
                <img src="assets/icons/facebook.png" alt="" class="size-8">
            </a>
            <a href="">
                <img src="assets/icons/twitter.png" alt="" class="size-8">
            </a>
            <a href="">
                <img src="assets/icons/instagram.png" alt="" class="size-8">
            </a>
        </div>
        <p>© 2024 Your Company, Inc. All rights reserved.</p>
    </div>
</footer>