<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-row flex-wrap items-start">
    <div class="flex flex-col justify-center w-full sm:w-1/2 px-12 py-8">
        <div class="flex flex-col justify-center">
            <p class="text-3xl font-bold tracking-tight text-gray-900 py-4">Please follow us</p>
            <div class="flex gap-4 flex-row items-center px-2 py-2">
                <img src="assets/icons/youtube.png" alt="" class="size-8">
                <p> Youtube</p>
            </div>
            <div class="flex gap-4 flex-row items-center px-2 py-2">
                <img src="assets/icons/facebook.png" alt="" class="size-8">
                <p> Facebook</p>
            </div>
            <div class="flex gap-4 flex-row items-center px-2 py-2">
                <img src="assets/icons/twitter.png" alt="" class="size-8">
                <p> Twitter</p>
            </div>
            <div class="flex gap-4 flex-row items-center px-2 py-2">
                <img src="assets/icons/instagram.png" alt="" class="size-8">
                <p> Instagram</p>
            </div>
        </div>
        <div class="flex flex-col justify-center pt-8">
            <p class="text-3xl font-bold tracking-tight text-gray-900 py-4">For work please contact</p>
            <p class="px-2 py-2"><span class="font-bold">Phone :</span> 0-000-000-000</p>
            <p class="px-2 py-2"><span class="font-bold">Email :</span> email{{'@'}}example.com</p>
        </div>
    </div>
    <div class="flex flex-col justify-center w-full sm:w-1/2 px-12 py-8 border-l-2 border-gray-200">
        <p class="text-3xl font-bold tracking-tight text-gray-900 py-4">We are looking for</p>
        <div class="px-2 py-2">
            <p class="font-bold text-xl">IT support</p>
            <p>Mon - Fri 10:00 - 18:00</p>
            <p>🪙 20,000 - 25,000</p>
        </div>
        <div class="px-2 py-2">
            <p class="font-bold text-xl">Maintenance technician</p>
            <p>Mon - Fri 10:00 - 18:00</p>
            <p>🪙 20,000 - 25,000</p>
        </div>
        <div class="px-2 py-2">
            <p class="font-bold text-xl">Security guard</p>
            <p>Mon - Fri 09:00 - 19:00</p>
            <p>🪙 12,000 - 15,000</p>
        </div>
        <div class="px-2 py-2">
            <p class="font-bold text-xl">Cleaning staff</p>
            <p>Mon - Fri 09:00 - 19:00</p>
            <p>🪙 12,000 - 15,000</p>
        </div>
    </div>
</div>
<div class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
    <form [formGroup]="feedbackForm" (ngSubmit)="feedbackSend()" class="space-y-6 flex flex-col w-full max-w-2xl py-12">
        <h2 class="text-center text-2xl/9 font-bold tracking-tight text-gray-900 pt-8">Feedback</h2>

        <div class="flex flex-col" style="margin: 0;">

            <label for="name" class="block text-sm/6 font-medium text-gray-900 mt-4">Name</label>
            <div class="mt-2">
                <div
                    class="rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
                    <input type="text" name="name" id="name" formControlName="name"
                        class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm/6 w-full">
                </div>
            </div>

            <label for="email" class="block text-sm/6 font-medium text-gray-900 mt-4">E-mail</label>
            <div class="mt-2">
                <div
                    class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
                    <input type="email" name="email" id="email" formControlName="email"
                        class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm/6">
                </div>
            </div>

            <label for="memberID" class="block text-sm/6 font-medium text-gray-900 mt-4">Member ID</label>
            <div class="mt-2">
                <div
                    class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
                    <input type="number" name="memberID" id="memberID" formControlName="memberId"
                        class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm/6">
                </div>
            </div>

            <label for="feedback" class="block text-sm/6 font-medium text-gray-900 mt-4">Your feedback</label>
            <div class="mt-2">
                <textarea id="feedback" name="feedback" rows="3" formControlName="feedback"
                    class="block rounded-md w-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"></textarea>
            </div>

        </div>

        <button type="submit" class="px-4 py-2 rounded-md bg-indigo-600 text-white hover:bg-indigo-500">Submit</button>
    </form>

</div>